.cell{
    padding: 0px 10px;
    /* min-width:200px;
    max-width: 200px; */
    box-sizing: border-box;
    flex: 1;
    align-self: flex-start;
    justify-self: center;
    word-break: break-all;
}