.cronControl{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cronControl>div{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.cronControl>p{
    text-align: center;
}