
.App{
    margin: 0;
}
h1,h2{
    text-align: center;
}
input,select{
    width: 100%;
    padding: 5px;
    border: 1px solid #bababa;
    outline: none;
}

button{
    align-self: center;
    padding: 10px;
    background-color: rgb(236, 238, 240);
    outline: none;
    border: 1px solid #bababa;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    justify-self: end;
}
button:hover{
    background-color: rgb(196, 223, 255);
}

label{
    width: 100%;
    text-align: start;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}
.align-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}